<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- New Beverage Tab -->
  <ion-tab title="Add Beverage" icon-off="ion-android-add-circle" icon-on="ion-android-add-circle" href="#/tab/new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>

  <!-- Beverages Tab -->
  <ion-tab title="Beverages" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/beverages">
    <ion-nav-view name="tab-beverages"></ion-nav-view>
  </ion-tab>

  <!-- Location Tab -->
  <ion-tab title="Near Me" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
